body.admin-bar .navbar-fixed-top {
  top: 32px;
}
.bg-white {
  background-color: #fff;
  color: #333;
}
.bg-grey {
  background-color: #ccc;
  color: #fff;
}
.bg-grey-light {
  background-color: #ddd;
}
.bg-grey-lighter {
  background-color: #b3b3b3;
}
.bg-grey-lightest {
  background-color: #e6e6e6;
}
.bg-grey-dark {
  background-color: #808080;
  color: #fff;
}
.bg-grey-darker {
  background-color: #676767;
  color: #fff;
}
.bg-grey-darkest {
  background-color: #333;
  color: #fff;
}
.bg-brand-primary {
  background-color: #0066b2;
  color: #fff;
}
.bg-brand-primary-dark {
  background-color: #004c85;
  color: #fff;
}
.bg-brand-primary-darker {
  background-color: #00345c;
  color: #fff;
}
.bg-brand-primary-darkest {
  background-color: #001d30;
  color: #fff;
}
.bg-blue {
  background-color: #0066b2;
}
.bg-blue-dark {
  background-color: #004c85;
}
@media screen and (min-width: 768px) {
  .container,
  .container-fluid {
    padding-left: 33px;
    padding-right: 33px;
  }
}
.container-lg {
  max-width: 1169px;
}
.container-md {
  max-width: 991px;
}
.container-sm {
  max-width: 767px;
}
.container-xs {
  max-width: $max-width-xs;
}
.elementor-text-editor {
  color: #333;
}
.elementor-row {
  margin-left: -10px;
  margin-right: -10px;
  width: auto;
}
.elementor-column {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex > * {
  height: 100%;
}
.flip {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 30px;
}
.flip .front {
  background-color: #0072bf;
}
.flip .side {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
}
.flip .front {
  z-index: 2;
}
.flip .side {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip .front div {
  display: table;
  width: 100%;
  height: 100%;
}
.flip .front h2 small,
.flip .front h2 {
  color: #fff;
}
.flip .front h2 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.75);
}
.flip .back {
  background-color: #e8e9ea;
  background-image: url("/assets/img/flip-gray.png");
  border: 1px solid #b3b3b3;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.flip .side {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
}
.flip .back {
  z-index: 1;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.flip .side {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip:hover .front {
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip:hover .back {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flip .back h2 {
  font-family: inherit;
  font-weight: 800;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #0066b2;
  font-size: 22px;
  padding: 0;
  margin: 0;
}
.flip .back hr {
  width: 25%;
  text-align: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .flip .back p {
    line-height: 12px;
  }
}
@media (min-width: 768px) {
  .flip .back p {
    font-size: 85%;
  }
}
.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
  display: block;
  max-width: 100%;
  height: auto;
}
.flip .back img {
  margin-left: auto;
  margin-right: auto;
  max-height: 25%;
}
@media (min-width: 1200px) {
  .flip .back img {
    max-height: 90px;
  }
}
footer {
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 991px) {
  footer {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  footer {
    font-size: 14px;
  }
}
footer address {
  margin-bottom: 10px;
}
footer p.title {
  margin: 10px 0;
  font-weight: bold;
}
footer p.title a:hover,
footer p.title a:focus {
  font-weight: bold;
}
footer .site-footer-section {
  padding: 15px 5px;
}
footer .site-footer-section a {
  display: inline-block;
  color: #fff;
}
footer .menu-footer-menu-bottom-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .menu-footer-menu-bottom-container li {
  padding-bottom: 5px;
}
footer .menu-footer-menu-bottom-container .sub-menu li a {
  font-weight: normal;
}
footer #menu-footer-menu-bottom {
  display: block;
}
footer #menu-footer-menu-bottom .menu-item-189,
footer #menu-footer-menu-bottom .menu-item-80 {
  float: left;
}
footer #menu-footer-menu-bottom .menu-item-189 > a,
footer #menu-footer-menu-bottom .menu-item-80 > a {
  margin: 10px 0;
  font-weight: bold;
  text-decoration: none;
}
footer #menu-footer-menu-bottom .menu-item-189 > a:hover,
footer #menu-footer-menu-bottom .menu-item-80 > a:hover,
footer #menu-footer-menu-bottom .menu-item-189 > a:focus,
footer #menu-footer-menu-bottom .menu-item-80 > a:focus {
  text-decoration: none;
}
footer .copyright__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
footer .copyright__container--mobile {
  display: block;
}
@media screen and (max-width: 767px) {
  #footer3.bg-blue-dark {
    background-color: transparent;
    color: #808080;
  }
  #footer3.bg-blue-dark a {
    color: #0066b2;
  }
}
.page-header {
  margin: 20px 0 10px;
  padding: 0;
  border-bottom: 0;
}
.entry-content {
  margin-top: 35px;
}
.btn-primary {
  background-color: #0066b2;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #004c85;
}
.btn-default {
  color: #fff;
  background-color: #0066b2;
  border-color: #0066b2;
}
.btn-default:hover {
  color: #fff;
  background-color: #00345c;
  border-color: #00345c;
}
aside + aside {
  margin-top: 15px;
}
.responsive-iframe {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
iframe {
  max-width: 100%;
}
img,
.img {
  max-width: 100%;
}
.screen-reader-text {
  display: none;
}
.title-underline {
  border-bottom: 1px solid #0066b2;
}
@media screen and (max-width: 767px) {
  .small-screens--hide {
    display: none;
  }
}
.load-more-container .tpl {
  display: none;
}
.load-more-container .more-video {
  background: #ddd;
  padding: 6px 16px 6px 16px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #000;
  margin: auto auto;
  display: table;
  text-align: center;
  text-decoration: none;
}
.entry-video iframe {
  width: 100%;
  min-height: 281px;
}
.unable-to-download {
  border: 2px solid rgba(255,0,0,0.56);
  padding: 4px 10px 4px 10px;
  margin: 7px;
}
a {
  color: #0066b2;
}
#menu-footer-menu-bottom > li {
  float: left;
  width: 50%;
}
@media (min-width: 768px) {
  .site-content {
    padding-bottom: 75px;
  }
}
.cookies-policy h1.entry-title {
  font-weight: 100;
  margin: 0 0 -30px 0;
}
@media (min-width: 768px) {
  .site-content-contain {
    padding-top: 120px;
  }
}
#hp-solutions {
  padding-bottom: 67px;
}
#site-navigation {
  -webkit-border-radius: 0;
  border-radius: 0;
}
@media (min-width: 783px) {
  #slideshow {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  #slideshow {
    margin-top: 95px;
  }
}
.tp-bgimg {
  background-position: center top !important;
}
a {
  color: #337ab7;
  text-decoration: none;
}
.home #newsfeed .news-title h4 {
  min-height: 67px;
}
@media (min-width: 768px) {
  .home #newsfeed .news-image__container {
    min-height: 220px;
  }
}
@media (min-width: 768px) {
  .home .responsive-iframe {
    min-height: 220px;
  }
}
.home #newsfeed .news-image__container img {
  height: auto;
  max-height: 200px;
  width: auto;
  margin: auto;
  display: block;
}
.search__container {
  float: right;
  position: relative;
  right: -11px;
}
.spec-notes {
  margin-top: 25px;
  margin-bottom: 45px;
}
.btn {
  -webkit-transition: all 330ms ease;
  transition: all 330ms ease;
}
.flip a {
  text-decoration: none !important;
}
@media (min-width: 768px) {
  .tbcontainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .tbcontainer .container {
    height: 100%;
  }
  .tbcontainer .container .aligner {
    padding-left: 22%;
    width: 80%;
    height: 100%;
  }
  .tbcontainer .container .aligner .nav.navbar-nav {
    width: 100%;
    height: 100%;
    float: none;
    max-width: 560px;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .tbcontainer .container {
    padding: 0 !important;
  }
}
@media (max-width: 767px) {
  #site-navigation .navbar-collapse .navbar-nav > li.menu-item-254.dropdown ul li {
    border-color: #b3b3b3;
  }
}
@media (max-width: 767px) {
  #site-navigation .navbar-collapse .navbar-nav > li.menu-item-254.dropdown ul li a {
    background: #808080 !important;
  }
}
#site-navigation .navbar-header .navbar-brand {
  z-index: 1;
}
@media screen and (min-width: 768px) {
  #site-navigation .navbar-header .navbar-brand {
    width: 100%;
    padding: 15px;
    position: absolute;
    height: 100% !important;
  }
}
body.admin-bar #masthead.fixed-top {
  top: 33px;
}
body.admin-bar #subnavigation {
  top: 81px;
}
@media (min-width: 768px) {
  body.admin-bar .site-content-contain {
    padding-top: 148px;
  }
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  background-color: #0066b1;
}
@media screen and (min-width: 768px) {
  #literature button[type="submit"] {
    margin-left: 17.5%;
  }
}
#literature small {
  color: #777;
  position: relative;
  top: 4px;
}
@media screen and (min-width: 768px) {
  #literature small {
    margin-left: 17.5%;
  }
}
#features {
  padding-bottom: 40px;
}
.more-news {
  margin-top: 70px;
  margin-bottom: 30px;
}
.dark-intro {
  color: #333;
}
.support-portal-button {
  width: auto;
  padding: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: solid 1px;
  background: #fff;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .service-portal-div {
    padding-left: 60px;
  }
}
#slideshow {
  width: 100%;
  min-height: 100vh;
  background: rgba(0,0,0,0.8);
}
.translate-container {
  margin: 0 auto 20px 0;
  display: block;
}
@media (min-width: 768px) {
  .translate-container {
    max-width: 200px;
  }
}
@media (max-width: 767px) {
  .translate-container {
    text-align: center;
  }
}
#google_translate_element .goog-te-gadget,
#google_translate_element .goog-logo-link {
  color: #fff;
  font-weight: normal;
}
#google_translate_element img {
  width: auto;
}
#google_translate_element select {
  margin-left: 0;
  color: #333;
}
.search__wrapper {
  display: table;
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.search__container {
  width: 8%;
  display: table-cell;
  height: inherit;
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
  background-color: #ddd;
  color: #0066b2;
}
@media screen and (max-width: 991px) {
  .search__container {
    width: 9%;
  }
}
@media screen and (max-width: 767px) {
  .search__container {
    display: none;
  }
}
.icon-circle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  font-size: 20px;
}
.icon-circle.bg-white {
  color: #001d30;
}
.icon + .icon {
  margin-left: 5px;
}
.no-bottom {
  margin-bottom: 0 !important;
}
.no-arrow {
  margin-top: 15px;
}
.no-arrow h2 {
  font-weight: 100;
  font-size: 29px;
  margin-top: 16px;
  margin-bottom: 0;
}
.arrow-header {
  background: #0e68b0;
  color: #fff;
  padding: 10px 10px 10px 16px;
  position: relative;
  height: 95px;
}
.arrow-header.first-heading {
  margin-top: 21px;
  margin-bottom: 20px;
}
.arrow-header:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 26px;
  height: 100%;
  background: #fff;
}
.arrow-header:after {
  content: " ";
  position: absolute;
  right: 0px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 48px 0 47px 26px;
  border-color: transparent transparent transparent #0e68b0;
}
.arrow-header h1 {
  font-size: 36px;
  color: #fff;
  font-weight: 800;
  line-height: 1.1;
  margin: 0;
}
.arrow-header h2 {
  font-size: 28px;
  font-weight: 100;
  color: #fff;
  padding-top: 0;
  margin-top: 6px;
}
.arrow-header.small-blue {
  background: #0e68b0;
  margin-top: 20px;
  height: 60px;
}
.arrow-header.small-blue:after {
  border-color: transparent transparent transparent #0e68b0;
  border-width: 30px 0 30px 26px;
}
@media (max-width: 767px) {
  .arrow-header.small-blue h2 {
    font-size: 21px;
    margin: 0;
    position: relative;
    top: 9px;
  }
}
.arrow-header.arrow-header-yellow {
  background: #fedc32;
  margin-top: 20px;
  height: 60px;
}
.arrow-header.arrow-header-yellow h2 {
  color: #000;
  font-size: 28px;
  font-weight: 100;
}
@media (max-width: 767px) {
  .arrow-header.arrow-header-yellow h2 {
    font-size: 18px;
    position: relative;
    top: -5px;
    max-width: 172px;
    line-height: 1.2;
  }
}
.arrow-header.arrow-header-yellow:after {
  border-color: transparent transparent transparent #fedc32;
  border-width: 30px 0 30px 26px;
}
@media (min-width: 480px) {
  .col-tn-6 {
    width: 50%;
  }
}
.bmm {
  color: #000;
  font-size: 28px;
  font-weight: 100;
}
@media (max-width: 767px) {
  .bmm {
    line-height: 1.2;
    margin-top: 16px;
  }
}
@media (min-width: 767px) {
  .person-details {
    margin-top: 15px;
  }
}
@media (min-width: 992px) {
  .person-details {
    margin-top: 25px;
  }
}
@media (min-width: 480px) {
  .person-details .introducing {
    margin-top: 65px;
    display: block;
  }
}
@media (min-width: 767px) {
  .person-details .introducing {
    margin-top: 5px;
  }
}
@media (min-width: 992px) {
  .person-details .introducing {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .person-details .introducing {
    margin-top: 35px;
  }
}
@media (max-width: 479px) {
  .person-details .person-img {
    margin-top: 24px;
    display: block;
  }
}
.person-details .person {
  font-weight: 300;
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 0s;
}
.person-details .details {
  font-size: 14px;
  margin-top: 12px;
}
.person-details .section-heading {
  color: #0066b2;
  margin-top: 0;
  font-weight: 300;
  font-size: 18px;
}
.person-details .product-heading {
  font-weight: 300;
  font-size: 24px;
  color: #333;
}
.person-details .product-heading a {
  color: #333;
}
.marketing-stories-container {
  border-top: solid 1px #b3b3b3;
  margin-top: 24px;
  padding-top: 24px;
}
.marketing-stories-container h3 {
  font-weight: 100;
  min-height: 77px;
  color: #333;
}
.marketing-stories-container h3 a {
  color: #333;
}
#site-navigation {
  min-height: 0;
  border: 0;
  margin-bottom: 0;
  z-index: 1050;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
/** TOP LEVEL NAV **/
/** 2ND LEVEL NAV **/
/* NAVBAR TOGGLE */
}
@media screen and (min-width: 768px) {
  #site-navigation {
    height: 96px;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}
#site-navigation .site-description {
  height: 26px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  #site-navigation.navbar-small {
    height: 48px;
  }
  #site-navigation.navbar-small .navbar-brand {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  #site-navigation.navbar-small .site-description {
    height: 0px;
    opacity: 0;
  }
}
@media screen and (min-width: 768px) {
  #site-navigation .dropdown .dropdown-menu > li {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    float: left;
    width: -webkit-calc(100% / 4);
    width: calc(100% / 4);
  }
}
@media screen and (min-width: 768px) {
  #site-navigation .container-fluid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1199px) {
  #site-navigation .container-fluid {
    width: 970px;
  }
}
@media screen and (max-width: 991px) {
  #site-navigation .container-fluid {
    width: 750px;
  }
}
@media screen and (max-width: 768px) {
  #site-navigation .container-fluid {
    width: 750px;
  }
}
@media screen and (max-width: 767px) {
  #site-navigation .container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
#site-navigation .navbar-header {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 25%;
}
@media screen and (max-width: 767px) {
  #site-navigation .navbar-header {
    width: 100%;
    margin: 0;
  }
}
#site-navigation .navbar-header .logo__holder img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
#site-navigation .navbar-header .navbar-brand {
  padding: 10px;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  #site-navigation .navbar-header .navbar-brand {
    width: 100%;
    padding: 15px;
  }
}
@media screen and (min-width: 768px) {
  #site-navigation .navbar-header .navbar-brand img {
    width: 149px;
    height: 20px;
  }
}
@media screen and (min-width: 992px) {
  #site-navigation .navbar-header .navbar-brand img {
    width: 246px;
    height: 33px;
  }
}
#site-navigation .navbar-header .navbar-brand p.site-description {
  color: #333;
  font-size: 12px;
  line-height: 100%;
  margin-top: 5px;
  margin-bottom: 0;
}
@media screen and (max-width: 1199px) {
  #site-navigation .navbar-header .navbar-brand p.site-description {
    margin: 0;
  }
}
#site-navigation .navbar-collapse {
  max-height: inherit;
}
@media screen and (min-width: 768px) {
  #site-navigation .navbar-collapse {
    float: none;
    width: 55%;
    padding: 0 85px;
  }
}
@media screen and (max-width: 1199px) {
  #site-navigation .navbar-collapse {
    padding: 0 55px;
  }
}
@media screen and (max-width: 991px) {
  #site-navigation .navbar-collapse {
    padding: 0;
    width: 55%;
  }
}
@media screen and (max-width: 767px) {
  #site-navigation .navbar-collapse {
    width: 100%;
    margin: 0;
    border-top: 1px solid #004c85;
  }
}
#site-navigation .navbar-collapse li a {
  padding: 0;
}
#site-navigation .navbar-collapse .nav-home {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #0066b2;
  background-color: #0066b2;
  color: #fff;
  text-align: center;
  z-index: 1020;
}
@media screen and (max-width: 767px) {
  #site-navigation .navbar-collapse .nav-home {
    text-decoration: none;
  }
  #site-navigation .navbar-collapse .nav-home:hover,
  #site-navigation .navbar-collapse .nav-home:focus {
    background-color: #004c85;
  }
}
#site-navigation .navbar-collapse .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media screen and (min-width: 768px) {
  #site-navigation .navbar-collapse .navbar-nav {
    width: 100%;
    height: 100%;
    float: none;
  }
}
@media screen and (max-width: 767px) {
  #site-navigation .navbar-collapse .navbar-nav {
    margin: 0;
    margin-top: -1px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  #site-navigation .navbar-collapse .navbar-nav > li {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    float: none;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  #site-navigation .navbar-collapse .navbar-nav > li + li > a:after {
    content: ' ';
    width: 1px;
    height: 25px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #site-navigation .navbar-collapse .navbar-nav > li + li:hover > a:after,
  #site-navigation .navbar-collapse .navbar-nav > li + li:focus > a:after,
  #site-navigation .navbar-collapse .navbar-nav > li + li.open > a:after {
    display: none;
  }
  #site-navigation .navbar-collapse .navbar-nav > li:hover + li > a:after,
  #site-navigation .navbar-collapse .navbar-nav > li:focus + li > a:after,
  #site-navigation .navbar-collapse .navbar-nav > li.open + li > a:after {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #site-navigation .navbar-collapse .navbar-nav > li {
    width: 50%;
    border-top: 1px solid #004c85;
  }
  #site-navigation .navbar-collapse .navbar-nav > li:nth-of-type(2n+2) {
    border-left: 1px solid #004c85;
  }
  #site-navigation .navbar-collapse .navbar-nav > li.dropdown {
    width: 100%;
    border: 0;
  }
  #site-navigation .navbar-collapse .navbar-nav > li.dropdown > a {
    display: none;
  }
  #site-navigation .navbar-collapse .navbar-nav > li.menu-item-20 li {
    border-color: #ccc;
  }
  #site-navigation .navbar-collapse .navbar-nav > li.menu-item-20 li a {
    background-color: #808080;
  }
  #site-navigation .navbar-collapse .navbar-nav > li.menu-item-20 li a:hover,
  #site-navigation .navbar-collapse .navbar-nav > li.menu-item-20 li a:focus {
    background-color: #676767;
  }
}
@media screen and (min-width: 768px) {
  #site-navigation .navbar-collapse .navbar-nav > li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    color: #333;
  }
  #site-navigation .navbar-collapse .navbar-nav > li > a > .caret {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #site-navigation .navbar-collapse .navbar-nav > li > a {
    text-align: center;
    padding: 10px;
    background-color: #0066b2;
    color: #fff;
    text-decoration: none;
  }
}
#site-navigation .navbar-collapse .navbar-nav > li:hover > a,
#site-navigation .navbar-collapse .navbar-nav > li:focus > a,
#site-navigation .navbar-collapse .navbar-nav > li.open > a {
  color: #fff;
}
@media screen and (min-width: 768px) {
  #site-navigation .navbar-collapse .navbar-nav > li:hover > a,
  #site-navigation .navbar-collapse .navbar-nav > li:focus > a,
  #site-navigation .navbar-collapse .navbar-nav > li.open > a {
    background-color: #0066b2;
    text-decoration: underline;
  }
}
@media screen and (max-width: 767px) {
  #site-navigation .navbar-collapse .navbar-nav > li:hover > a,
  #site-navigation .navbar-collapse .navbar-nav > li:focus > a,
  #site-navigation .navbar-collapse .navbar-nav > li.open > a {
    background-color: #004c85;
  }
}
#site-navigation .open .dropdown-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#site-navigation .dropdown-menu {
  padding: 0;
  border: 0;
}
@media screen and (min-width: 768px) {
  #site-navigation .dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #808080;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  #site-navigation .dropdown-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: static;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    float: none;
    width: auto;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
#site-navigation .dropdown-menu > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: none;
}
@media screen and (min-width: 768px) {
  #site-navigation .dropdown-menu > li {
    width: -webkit-calc(1170px / 4);
    width: calc(1170px / 4);
  }
}
@media screen and (max-width: 767px) {
  #site-navigation .dropdown-menu > li {
    width: 50%;
    border-top: 1px solid #004c85;
  }
}
@media screen and (min-width: 768px) {
  #site-navigation .dropdown-menu > li + li {
    border-left: 1px solid #fff;
  }
}
@media screen and (max-width: 767px) {
  #site-navigation .dropdown-menu > li:nth-of-type(2n+2) {
    border-left: 1px solid #004c85;
  }
}
#site-navigation .dropdown-menu > li > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: #fff;
  white-space: normal;
}
@media screen and (min-width: 768px) {
  #site-navigation .dropdown-menu > li > a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
  }
}
@media screen and (max-width: 767px) {
  #site-navigation .dropdown-menu > li > a {
    background-color: #0066b2;
  }
}
@media screen and (min-width: 768px) {
  #site-navigation .dropdown-menu > li > a:hover,
  #site-navigation .dropdown-menu > li > a:focus {
    background-color: #676767;
    text-decoration: underline;
  }
}
@media screen and (max-width: 767px) {
  #site-navigation .dropdown-menu > li > a:hover,
  #site-navigation .dropdown-menu > li > a:focus {
    background-color: #004c85;
  }
}
#site-navigation .navbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0066b2;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  height: 100%;
  width: 20%;
}
#site-navigation .navbar-toggle .icon-bar {
  background-color: #fff;
  margin: 4px auto;
  height: 4px;
}
div.section-sm {
  padding-top: 20px;
}
.lang_switch_mob {
  display: none;
  float: right;
}
.lang_switch_mob .wpml-ls-legacy-dropdown {
  height: 100%;
  width: 65px;
  border: none;
}
.lang_switch_mob .wpml-ls-legacy-dropdown ul li a {
  border-left: 1px solid #cdcdcd;
  text-decoration: none;
  min-height: 100%;
  padding: 10px;
}
.lang_switch_mob .wpml-ls-legacy-dropdown ul li a:hover {
  text-decoration: none;
}
.navbar-small .lang_switch {
  margin: 7px 1px;
  -webkit-transition: margin 0.3s ease-out;
  transition: margin 0.3s ease-out;
}
.lang_switch {
  margin: 28px 2px;
  -webkit-transition: margin 0.3s ease-out;
  transition: margin 0.3s ease-out;
}
.lang_switch .wpml-ls-legacy-dropdown {
  height: 100%;
  width: 65px;
  border: none;
}
.lang_switch .wpml-ls-legacy-dropdown ul li a {
  border-left: 1px solid #cdcdcd;
  text-decoration: none;
  min-height: 100%;
  padding: 10px;
}
.lang_switch .wpml-ls-legacy-dropdown ul li a:hover {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .lang_switch {
    display: none;
  }
  .lang_switch_mob {
    display: block;
    margin-top: 2%;
    margin-right: 20.5%;
  }
}
@media screen and (max-width: 490px) {
  .lang_switch_mob {
    margin-top: 1%;
  }
}
#newsfeed p {
  margin: 0;
}
#newsfeed .news-title {
  color: #0066b2;
}
#newsfeed .news-title:hover,
#newsfeed .news-title:focus {
  text-decoration: none;
  color: #0066b2;
}
#newsfeed .news-title h4 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}
#newsfeed .news-image__container img {
  height: auto;
}
@media screen and (max-width: 767px) {
  #newsfeed .news-image__container img {
    display: block;
    margin: 0 auto;
  }
}
#newsfeed .news-image__container + .news-content {
  margin-top: 10px;
}
#newsfeed .news-read-more + .news-tags {
  margin-top: 10px;
}
#newsfeed .responsive-iframe {
  margin-bottom: 10px;
}
#newsfeed .btn--more-news {
  margin: 10px 0;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #newsfeed .col-sm-12 {
    margin-top: 10px;
  }
}
article {
  padding-bottom: 25px;
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 25px;
}
article:nth-last-of-type(1) {
  border-bottom: none;
}
article .entry-summary .read-more {
  margin-top: 15px;
}
article .entry-meta {
  font-size: 12px;
}
article .entry-title {
  margin-top: 0;
  line-height: 1.25;
  font-weight: 800;
  color: #333;
  text-transform: none;
}
article .entry-title a {
  font-weight: 100;
  color: #333;
}
article .entry-title a:hover,
article .entry-title a:focus {
  text-decoration: none;
}
.title__news {
  font-weight: 800;
  margin: 0;
}
.category-news__container {
  padding: 0;
}
.category-news .news-image__container {
  margin-bottom: 15px;
}
.category-news .news-image__container img {
  display: block;
  max-height: 275px;
  width: auto;
  margin: 0 auto;
}
.category-news article .entry-title {
  font-size: 24px;
}
body.single-post .page-header {
  margin-top: 0;
}
body.single-post article .entry-title {
  font-size: 36px;
}
body.single-post .category-news .news-image__container img {
  height: auto;
  max-height: 500px;
}
.fa,
.testimonial-slider .slick-arrow:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.product-list-item {
  padding-bottom: 18px;
  border: none !important;
}
.product-list-item .hr-div {
  display: block;
  margin-top: 42px;
}
.product-list-item img {
  margin-bottom: 30px;
  width: auto;
}
.product-list-item small {
  font-weight: 300;
  font-size: 50%;
}
.product-list-item .h1 {
  margin-bottom: 14px;
  padding-top: 0px;
  margin-top: 1px;
}
.product-list-item .h1 a {
  text-decoration: none;
  color: #333;
}
.product-list-item h3 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .product-list-item small {
    display: block;
    margin-top: 4px;
  }
}
.product-list-item-small {
  list-style: none;
  padding: 0 0 23px 0;
  margin: 0 15px 41px 15px;
  border-bottom: solid 1px #b3b3b3;
  display: table;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
}
.product-list-item-small li {
  display: table-cell;
  max-width: 400px;
  vertical-align: bottom;
  padding: 5px 15px 15px 15px;
}
.product-list-item-small li a {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
.product-list-item-small li a span {
  display: block;
}
.product-list-item-small img {
  width: 100%;
  max-width: 125px;
  display: block;
  margin: 0 auto 14px auto;
}
.product-page-title {
  text-align: center;
  margin: 37px auto 11px auto;
}
.product-page-sub {
  text-align: center;
  margin: 0 auto 12px auto;
  color: #777;
}
.product-banner-container {
  position: relative;
}
@media (min-width: 768px) {
  .product-banner-container {
    margin: -57px 0 0 0;
  }
}
.product-banner-container img {
  width: 100%;
}
.product-banner-container h1 {
  display: none;
  color: #fff;
  position: absolute;
  text-align: center;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.75);
  width: 100%;
  margin: auto;
  padding: 0 12% 0 12%;
  text-transform: none;
  top: 40%;
  font-size: 30px;
}
@media (min-width: 768px) {
  .product-banner-container h1 {
    display: block;
    top: 27%;
  }
}
@media (min-width: 992px) {
  .product-banner-container h1 {
    top: 30%;
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .product-banner-container h1 {
    top: 36%;
  }
}
.product-banner-container .big-black-buttons {
  display: none;
  list-style: none;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0 8% 0 8%;
}
@media (min-width: 768px) {
  .product-banner-container .big-black-buttons {
    display: block;
  }
}
.product-banner-container .big-black-buttons li {
  display: inline;
}
.product-banner-container .big-black-buttons li a {
  background-color: rgba(0,0,0,0.4);
  color: inherit;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  padding: 10px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  text-decoration: none;
  width: 100%;
  display: block;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .product-banner-container .big-black-buttons li a {
    font-size: 30px;
  }
}
.product-banner-container .big-black-buttons li a:hover {
  background-color: #fff;
  color: #000;
}
.application-item {
  padding-bottom: 38px;
  display: inline-block;
}
.application-item h2 {
  font-weight: 300;
  font-size: 30px;
  margin-top: 3px;
}
.application-item h4 {
  font-weight: 300;
  font-size: 18px;
}
.product-list-app-header {
  margin-top: 18px;
  margin-bottom: 31px;
  text-align: center;
  font-size: 30px;
}
.product-applications {
  border-bottom: solid 1px #b3b3b3;
  clear: left;
  padding-bottom: 32px;
  padding-top: 0px;
  margin-top: -11px;
}
.subnavigation {
  display: table;
  width: 100%;
  background-color: #0066b2;
}
@media (min-width: 768px) {
  .subnavigation {
    margin-bottom: 0;
  }
}
.subnavigation a {
  display: table-cell;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #fff;
  font-size: 17px;
  font-weight: 300;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  width: 100%;
  display: block;
  border-bottom: solid 1px #fff;
  padding: 5px;
}
@media (min-width: 768px) {
  .subnavigation a {
    width: 16%;
    display: table-cell;
    border: none;
    border-right: solid 1px #fff;
  }
}
.subnavigation a:last-child {
  border-right: none !important;
}
.subnavigation a:hover {
  background-color: #00497f;
}
.stories-container {
  padding: 94px 0 38px 0px;
}
.stories-container iframe {
  padding-bottom: 10px;
}
.stories-container .story h3,
.stories-container .story a {
  font-weight: 300;
  color: #333;
  font-size: 24px;
}
.stories-container .story .btn {
  color: #fff;
  font-size: 14px;
}
.applications-container {
  background-color: #e6e6e6;
  margin: 50px 0 0 0;
  padding: 17px 0 25px 0px;
}
.applications-container h3 {
  font-weight: 300;
}
.applications-container h2,
.stories-container h2,
.lit-container h2,
.specs-container h2,
.testimonial-container h2 {
  border-bottom: 1px solid #0066b2;
  font-weight: 300;
  font-size: 30px;
}
.applications-container h3,
.stories-container h3,
.lit-container h3,
.specs-container h3,
.testimonial-container h3 {
  font-weight: 300;
  font-size: 24px;
}
@media (min-width: 768px) {
  .applications-container h3,
  .stories-container h3,
  .lit-container h3,
  .specs-container h3,
  .testimonial-container h3 {
    min-height: 58px;
  }
}
.lit-container {
  background: #e6e6e6;
  padding: 15px 0 33px 0;
}
@media (min-width: 768px) {
  .lit-container label {
    position: relative;
    top: 8px;
    text-align: right;
  }
}
.lit-container form {
  margin: 10px 0 0 0;
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.lit-container form .row {
  margin-bottom: 15px;
}
.lit-container h4 {
  font-weight: 300;
}
.lit-container input[type=checkbox],
.lit-container input[type=radio] {
  margin: 4px 0 0 -14px;
}
.lit-container .wpcf7-not-valid {
  border: solid 1px #a94442;
}
.lit-container .wpcf7-not-valid-tip {
  display: none !important;
}
.lit-container .wpcf7-validation-errors {
  margin: 20px 0 5px 0;
}
@media (max-width: 767px) {
  .lit-container .btn {
    margin: 20px 0 5px 0;
  }
}
.single-products h1 {
  margin: 27px 0 10px 0;
  letter-spacing: -1px;
}
.single-products h1 small {
  font-weight: 300;
  font-size: 50%;
  display: block;
}
@media (min-width: 768px) {
  .single-products h1 small {
    display: inline;
  }
}
#subnavigation {
  width: 100%;
  background-color: #ee661a;
  position: fixed;
  top: 48px;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 767px) {
  #subnavigation {
    display: none !important;
  }
}
#subnavigation h2 {
  color: #fff;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  padding-top: 10px;
}
#subnavigation h2 small {
  color: #fff;
  font-weight: 300;
  font-size: 50%;
}
#subnavigation .reverse a {
  color: #fff;
  padding: 4px 10px;
  border-left: 1px solid rgba(255,255,255,0.2);
  float: left;
}
#subnavigation .reverse a:last-child {
  border-right: solid 1px rgba(255,255,255,0.2);
}
.specs-container {
  padding: 95px 0 0 0;
}
.specs-container .dims-header {
  margin: 8px 0 12px 0;
}
.specs-container table.spec-table {
  margin: 30px 0 0 0;
}
.specs-container .images {
  padding-bottom: 15px;
}
.dim-table {
  margin-top: 40px;
}
img {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .specs-image-table td {
    display: block;
    width: 100% !important;
    margin-bottom: 30px;
  }
}
.testimonial-container {
  padding: 14px 0 0 0;
  background-color: #e6e6e6;
}
.testimonial-container .dims-header {
  margin: 8px 0 12px 0;
}
.testimonial-container table.spec-table {
  margin: 10px 0 0 0;
}
.testimonial-container .images {
  padding-bottom: 15px;
}
.testimonial-container img {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .testimonial-container .specs-image-table td {
    display: block;
    width: 100% !important;
    margin-bottom: 30px;
  }
}
#footer2 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#footer2 ul li:first-child {
  font-weight: bold;
  margin: 11px 0 11px 0;
}
.product-customers-container h3 {
  margin-bottom: 38px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 70px;
}
.product-customers {
  margin-top: 29px;
}
@media (max-width: 767px) {
  .product-customers {
    border-bottom: solid 1px #b3b3b3;
  }
}
.product-customers h3 {
  margin-bottom: 38px;
  font-size: 36px;
  font-weight: bold;
}
.product-customers img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .product-customers img {
    margin-bottom: 30px;
  }
}
.product-customers .info {
  min-height: 120px;
}
.testimonial-slider {
  position: relative;
}
.testimonial-slider .slick-arrow {
  display: none;
  position: absolute;
  top: 89px;
  z-index: 800;
  font-size: 0;
  border: none;
  background: transparent;
}
@media (min-width: 768px) {
  .testimonial-slider .slick-arrow {
    display: block;
  }
}
.testimonial-slider .slick-arrow:before {
  font-size: 34px;
}
.testimonial-slider .slick-next {
  right: 22px;
}
.testimonial-slider .slick-next:before {
  content: "\f105";
}
.testimonial-slider .slick-prev {
  left: 22px;
}
.testimonial-slider .slick-prev:before {
  content: "\f104";
}
.product-testimonial {
  border-bottom: 1px solid #b3b3b3;
  padding-top: 66px;
  padding-bottom: 87px;
}
.product-testimonial * {
  outline: none !important;
}
.product-testimonial h3 {
  margin-bottom: 38px;
  font-size: 36px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .product-testimonial .testimonial-padding {
    padding: 0 17% 0 17%;
  }
}
.product-testimonial .testimonial-padding .by {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  position: relative;
}
.product-testimonial .testimonial-padding .by:after {
  content: " ";
  position: absolute;
  bottom: -28px;
  left: 50%;
  width: 100px;
  height: 10px;
  position: absolute;
  border-bottom: solid 1px #808080;
  margin-left: -50px;
}
.product-testimonial .testimonial-padding .testimonial-content {
  position: relative;
}
.product-testimonial .testimonial-padding .testimonial-content:before {
  display: none;
  content: " ";
  position: absolute;
  top: 0;
  left: -73px;
  width: 73px;
  height: 56px;
  background: transparent url("/assets/img/quote-left.png") scroll 0 0 no-repeat;
}
@media (min-width: 768px) {
  .product-testimonial .testimonial-padding .testimonial-content:before {
    display: block;
  }
}
.product-testimonial .testimonial-padding .testimonial-content:after {
  display: none;
  content: " ";
  position: absolute;
  bottom: 0;
  right: -73px;
  width: 73px;
  height: 56px;
  background: transparent url("/assets/img/quote-right.png") scroll 0 0 no-repeat;
}
@media (min-width: 768px) {
  .product-testimonial .testimonial-padding .testimonial-content:after {
    display: block;
  }
}
.product-testimonial blockquote {
  border: none;
  text-align: center;
  position: relative;
}
.product-testimonial blockquote .testimonal {
  font-size: 22px;
  font-weight: 300;
  color: #0066b2;
  margin-bottom: 25px;
  line-height: 1.3;
}
@media (min-width: 768px) {
  .product-testimonial blockquote .testimonal {
    font-size: 36px;
    line-height: 1.1;
  }
}
.product-testimonial blockquote .info {
  font-weight: 300;
}
@media (min-width: 768px) {
  .ajax-video-header {
    min-height: 58px;
  }
}
.homepage-testimonials .product-testimonial {
  border: none !important;
  padding-bottom: 91px;
}
#newsfeed.widget-section {
  padding-bottom: 22px;
}
.related-videos h3 {
  color: #333;
}
.related-videos h3 a {
  color: #333;
}
.specs-info-table {
  margin-top: 40px;
}
@media (min-width: 1200px) {
  .specs-info-table {
    margin-top: 0;
  }
}
#features img {
  width: auto !important;
}
#search {
  background-color: #0066b2;
  color: #fff;
}
#search .container {
  padding-top: 35px;
  padding-bottom: 40px;
}
#search input[type=text] {
  width: 100%;
  background-color: #0066b2;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 34px;
  font-weight: 300;
  outline: none !important;
}
#search input[type=submit] {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-color: #0066b2;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  background-color: #0066b2;
}
#search input[type=submit] {
  width: 100%;
  border-color: #fff;
}
#masthead {
  z-index: 999;
}
#masthead.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
}
.padd-top-div {
  padding: 0 0 10px 0;
}
@media (min-width: 768px) {
  .padd-top-div {
    padding: 0 0 89px 0;
  }
}
.search-result {
  border: none;
  border: none;
  padding: 0 15px 0 15px;
  margin: 1px 0 0 0;
}
.results-found {
  color: #777;
}
.search__wrapper a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
}
.search__wrapper a .fa {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  text-decoration: none !important;
}
.search__wrapper a .fa.fa-search {
  margin-top: -3px;
}
.search-pagination-container {
  margin: 20px 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.search-pagination-container a,
.search-pagination-container .page-numbers,
.search-pagination-container .current {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.search-pagination-container a:hover,
.search-pagination-container .page-numbers:hover,
.search-pagination-container .current:hover {
  z-index: 3;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.search-pagination-container .current {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.search-pagination-container .current:hover {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.site-footer-section {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}
#footer1.site-footer-section {
  min-height: 60px;
}
#footer1.site-footer-section img {
  width: 232px;
  height: 30px;
}
#footer2.site-footer-section {
  min-height: 231px;
}
#footer3.site-footer-section {
  min-height: 191px;
}
@media screen and (max-width: 767px) {
  #footer3.site-footer-section {
    min-height: auto;
  }
}
.rev_slider {
  width: 100% !important;
}
.rev_slider > ul {
  width: 100% !important;
}
.rev_slider .tp-bgimg {
  width: 100% !important;
  background-size: cover !important;
}
.slotholder {
  width: 100% !important;
}
.slider-text-div {
  width: 100%;
  margin: 0 0 0 -15px;
  z-index: 1;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px 0 15px;
}
@media (min-width: 768px) {
  .slider-text-div {
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .slider-text-div {
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .slider-text-div {
    max-width: 40%;
  }
}
.slider-text-div h1 {
  font-size: 21px;
  line-height: 1.1;
}
@media (min-width: 992px) {
  .slider-text-div h1 {
    font-size: 29px;
    line-height: 1.3;
  }
}
.slider-black-bottom {
  background: #000;
  background: rgba(0,0,0,0.7);
  color: #fff;
  margin: 13px 0 10px 0px;
  z-index: 1;
  position: relative;
  padding: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.1;
  font-weight: normal;
}
@media (min-width: 992px) {
  .slider-black-bottom {
    font-size: 16px;
    line-height: 1.3;
    max-width: 75%;
  }
}
body.home h1,
.rev_slider h1 {
  text-transform: initial !important;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.65);
}
.table.table-dark>thead>tr>th,
.table.table-dark>tbody>tr>th,
.table.table-dark>tfoot>tr>th,
.table.table-darkthead>tr>td,
.table.table-dark>tbody>tr>td,
.table.table-dark>tfoot>tr>td {
  border-top: 1px solid #333;
}
.support-page .page-title {
  font-size: 36px;
  margin: 20px 0 10px 0;
}
.support-page .body-copy {
  margin-bottom: 10px;
}
.support-page .body-copy h2 {
  font-weight: 100;
  font-size: 30px;
  margin: 20px 0 10px 0;
}
.support-page .support-options {
  background-color: #e6e6e6;
  padding: 10px 0 50px 0;
  margin: 5px auto 0 auto;
}
@media (min-width: 768px) {
  .support-page .support-options {
    padding: 45px 0 50px 0;
    margin: 50px auto 0 auto;
  }
}
.support-page .support-options h2 {
  font-weight: 100;
  font-size: 30px;
  margin: 20px 0 10px 0;
}
@media (max-width: 767px) {
  .support-page .support-options h2 {
    float: left;
  }
}
.support-page .support-stages {
  padding: 38px 0 0 0;
  margin: 0px auto 0 auto;
}
.support-page .support-stages h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.1;
}
.support-page .support-stages h4 {
  font-size: 24px;
  font-weight: 300;
  display: block;
  border-bottom: 1px solid #0066b2;
}
.support-page .support-stages hr {
  margin-top: 50px;
}
.support-page .support-trust {
  padding: 0;
  margin: 0px auto 0 auto;
}
@media (min-width: 992px) {
  .support-page .support-trust {
    padding: 38px 0 0 0;
  }
}
.support-page .support-trust hr {
  margin-bottom: 0;
}
.support-page .support-trust h2,
.support-page .support-trust h3 {
  font-weight: 300;
}
.support_news_items {
  border-top: 1px solid #b3b3b3;
  margin-top: 18px;
  padding-top: 4px;
}
.tag-row {
  padding-top: 10px;
}
.trust-item h3 {
  font-weight: 300;
  font-size: 24px;
  min-height: 85px;
}
.trust-item .trust-title-img {
  max-width: 206px;
  display: block;
  margin: 12px auto 12px auto;
}
.trust-item .trust-section-img {
  max-width: 223px;
  display: block;
  margin: 12px auto 12px auto;
}
.trust-content table {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .trust-video iframe {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .trust-video {
    margin-top: 55px;
  }
}
@media (max-width: 767px) {
  .support-trust-image {
    display: block;
    margin: 20px auto 40px auto;
    max-width: 280px;
  }
}
.label a {
  color: #fff;
}
.label-muted {
  background-color: #ccc;
}
.tag__parent {
  font-weight: 300;
  border-bottom: 1px solid #0066b2;
  font-size: 18px;
}
.tag__parent:nth-of-type(1) {
  margin-top: 10px;
}
body {
  font-family: "aktiv-grotesk", sans-serif;
}
body.home h1,
body.home .h1,
body.home h2,
body.home .h2 {
  text-transform: uppercase;
}
h1,
.h1,
h2,
.h2 {
  text-transform: capitalize;
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: 10px;
}
h1.title__news {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h3 {
  font-size: 24px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #b3b3b3;
}
.bold {
  font-weight: bold;
}
h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light,
.h1.light,
.h2.light,
.h3.light,
.h4.light,
.h5.light,
.h6.light {
  font-weight: 300;
}
h1.flush,
h2.flush,
h3.flush,
h4.flush,
h5.flush,
h6.flush,
.h1.flush,
.h2.flush,
.h3.flush,
.h4.flush,
.h5.flush,
.h6.flush {
  margin-top: 0;
}
h2,
.h2 {
  font-size: 30px;
}
h1.u,
h2.u,
h3.u,
h4.u,
h5.u,
h6.u,
.h1.u,
.h2.u,
.h3.u,
.h4.u,
.h5.u,
.h6.u {
  display: block;
  border-bottom: 1px solid #0066b2;
}
.f36 {
  font-size: 36px;
}
.violator {
  position: fixed;
  padding: 7px 10px;
  z-index: 1030;
  background-color: #ee661a;
  -webkit-transition: 0.25s background-color ease-out;
  transition: 0.25s background-color ease-out;
  color: #fff;
  display: none;
  cursor: pointer;
}
.violator:hover,
.violator:focus {
  background-color: #d85912;
}
.violator-left,
.violator-right {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.violator-left {
  left: 0;
}
.violator-right {
  right: 0;
}
.violator-top,
.violator-bottom {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.violator-top {
  top: 0;
}
.violator-bottom {
  bottom: 0;
}
.widget-section {
  display: block;
}
#solutions.widget-section {
  min-height: 545px;
}
#quotes.widget-section {
  min-height: 580px;
}
.widget-heading {
  text-align: center;
  padding-top: 35px;
  margin-top: 0;
}
.widget-heading hr {
  max-width: 100px;
  margin-bottom: 50px;
}
.widget-title {
  margin-top: 0;
  font-weight: 100;
}
.recent-posts .responsive-iframe {
  margin-bottom: 10px;
}
.recent-posts h4 {
  font-weight: 300;
}
.recent-posts a {
  color: #333;
}
.recent-posts a:hover,
.recent-posts a:focus {
  text-decoration: none;
}
.recent-posts--post {
  margin-top: 25px;
}
.recent-posts--post:nth-of-type(1) {
  margin-top: 0;
}
.recent-posts .read-more a {
  color: #fff;
}
#newsfeed .btn--more-news {
  margin: 46px 0 6px 0;
}
@media (min-width: 768px) and (min-width: 992px) {
  .aligner {
    padding-left: 13%;
    width: 100%;
    height: 100%;
  }
}
