.bg
	&-white
		background-color $white
		color $grey-darkest
	
	&-grey
		background-color $grey
		color $white
		
		&-light
			background-color $grey-light
		
		&-lighter
			background-color $grey-lighter
		
		&-lightest
			background-color $grey-lightest
		
		&-dark
			background-color $grey-dark
			color $white
		
		&-darker
			background-color $grey-darker
			color $white
		
		&-darkest
			background-color $grey-darkest
			color $white
			
	&-brand
		
		&-primary
			background-color $brand-primary
			color $white
			
			&-dark
				background-color $brand-primary-dark
				color $white
			
			&-darker
				background-color $brand-primary-darker
				color $white
				
			&-darkest
				background-color $brand-primary-darkest
				color $white
	&-blue
		background-color $blue
		&-dark 
			background-color $blue-dark