.container
	
	&, &-fluid
		@media screen and (min-width $min-width-xs)
			padding-left 33px
			padding-right 33px
	
	&-lg
		max-width $max-width-lg
		
	&-md
		max-width $max-width-md
		
	&-sm
		max-width $max-width-sm
		
	&-xs
		max-width $max-width-xs