.flip {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	margin-bottom: 30px;
}

.flip .front {
    background-color: #0072bf;
}

.flip .side {
    border-radius: 5px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;  
}

.flip .front {
    z-index: 2;
}

.flip .side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip .front div {
    display: table;
    width: 100%;
    height: 100%;
}

.flip .front h2 small, .flip .front h2 {
    color: #fff;
}

.flip .front h2 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.75);
}

.flip .back {
    background-color: #e8e9ea;
    background-image: url(/assets/img/flip-gray.png);
    border: 1px solid #b3b3b3;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.flip .side {
    border-radius: 5px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.flip .back {
    z-index: 1;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip .side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip:hover .front {
    z-index: 1;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip:hover .back {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip .back h2 {
    font-family: inherit;
    font-weight: 800;
    line-height: 1.1;
    color: inherit;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #0066b2;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.flip .back hr {
    width: 25%;
    text-align: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

@media (min-width: 1200px){
	.flip .back p {
	    line-height: 12px;
	}
}

@media (min-width: 768px){
	.flip .back p {
	    font-size: 85%;
	}
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  max-width: 100%;
  height: auto;
}

.flip .back img {
  margin-left: auto;
  margin-right: auto;
  max-height: 25%;
}

@media (min-width: 1200px){
	.flip .back img {
	    max-height: 90px;
	}
}
