footer
	color $white
	font-size 14px
	@media screen and (max-width 991px)
		font-size 13px
	@media screen and (max-width 767px)
		font-size 14px
	address 
		margin-bottom 10px
	p.title
		margin 10px 0
		font-weight bold
		a 
			&:hover,
			&:focus
				font-weight bold
	.site-footer-section
		padding 15px 5px
		a
			display inline-block
			color $white
	.menu
		&-footer-menu-bottom-container
			ul 
				list-style none
				padding 0
				margin 0
			li 
				padding-bottom 5px
			.sub-menu
				li 
					a 
						font-weight normal
	#menu-footer-menu-bottom
		display block
		.menu-item-189,
		.menu-item-80
			float left
			> a
				margin 10px 0
				font-weight bold
				text-decoration none
				&:hover,
				&:focus
					text-decoration none
		
				
	.copyright__container
		display flex
		&--mobile
			display block

@media screen and (max-width 767px)
	#footer3
		&.bg-blue-dark
			background-color transparent
			color $grey-dark
			a 
				color $blue
