//  hide all placeholder content on live site
//  uncomment and gulp on live
// .placeholder
// 	display none


.page-header
	margin 20px 0 10px
	padding 0
	border-bottom 0

.entry-content
	margin-top 35px

// #content
// 	@media (min-width: 768px)
// 		padding-bottom 75px

.btn
	&-primary
		background-color $brand-primary
		&:hover,
		&:focus
			background-color $brand-primary-dark

.btn-default
	color #fff
	background-color #0066b2
	border-color #0066b2

.btn-default:hover
	color #fff
	background-color #00345c
	border-color #00345c


aside
	& + aside
		margin-top 15px

/*----------  utility classes  ----------*/
.responsive-iframe
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	iframe
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border: 0;
iframe
	max-width 100%
img, .img
	max-width 100%
.screen-reader-text
	display none
.title-underline
	border-bottom 1px solid $blue

@media screen and (max-width 767px)
	.small-screens--hide
		display none

/*----------  Video tags lazy load ----------*/

.load-more-container
	.tpl
		display:none;
	.more-video
		background: #ddd;
		padding: 6px 16px 6px 16px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		color: #000;
		margin: auto auto;
		display: table;
		text-align: center;
		text-decoration:none;

.entry-video
	iframe
		width:100%;
		min-height:281px;

/*----------  Brochure form download ----------*/

.unable-to-download
	border: 2px solid rgba(255, 0, 0, 0.56);
	padding: 4px 10px 4px 10px;
	margin: 7px;

a
	color:#0066b2;

#menu-footer-menu-bottom
	& > li
		float: left
		width:50%

/*----------  Did someone say cookies... ----------*/


.site-content
	@media(min-width:768px)
		padding-bottom: 75px

.cookies-policy
	h1
		&.entry-title
			font-weight: 100
			margin: 0 0 -30px 0


.site-content-contain
	@media(min-width:768px)
		padding-top: 120px

#hp-solutions
	padding-bottom: 67px;

#site-navigation
	border-radius:0;

#slideshow
	@media(min-width:783px)
		margin-top:20px
	@media(min-width:1200px)
		margin-top: 95px

.tp-bgimg
	background-position: center top !important;

a
	color: #337ab7
	text-decoration: none


// .tag__title
// 	@media(min-width:768px)
// 		margin-top:-35px;

.home
	#newsfeed .news-title h4
		min-height: 67px
	#newsfeed .news-image__container
		@media(min-width:768px)
			min-height: 220px
	.responsive-iframe
		@media(min-width:768px)
			min-height: 220px
	#newsfeed .news-image__container img
		height: auto
		max-height: 200px
		width: auto
		margin: auto
		display: block

.search__container{
	float: right;
	position: relative;
	right: -11px;
}

.spec-notes
	margin-top: 25px
	margin-bottom: 45px

.btn
	transition:all 330ms ease;

.flip
	a
		text-decoration: none !important

@media(min-width:768px)
	.tbcontainer
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		.container
			height:100%
			.aligner
				padding-left: 26%;
				width: 82%;
				height: 100%;
				@media(min-width:992px)
					padding-left: 13%;
					width: 100%;
					height: 100%;

				.nav
					&.navbar-nav{
						width: 100%;
						height: 100%;
						float: none;
						max-width: 560px;
						margin: auto;
					}

.tbcontainer
	.container
		@media screen and (max-width: 767px)
			padding:0 !important


#site-navigation .navbar-collapse .navbar-nav > li.menu-item-254.dropdown ul li
	@media (max-width: 767px)
		border-color:#b3b3b3;
	a
		@media (max-width: 767px)
			background: #808080 !important;

#site-navigation .navbar-header .navbar-brand
	z-index: 1;
	@media screen and (min-width: 768px)
		width: 100%
		padding: 15px
		position: absolute
		height: 100% !important



/*
body {
	//padding-top: 28px
	//margin-top: -28px
}
body.admin-bar #wphead {
	padding-top: 28px;
	padding-bottom: 28px
}
body.admin-bar #footer {
	padding-bottom: 28px;
}
#wpadminbar {
	top: auto !important;
	bottom: 0;
}
#wpadminbar .quicklinks .menupop ul {
	bottom: 28px;
}
*/





body.admin-bar
	#masthead.fixed-top
		top:33px
	#subnavigation
		top:81px
	.site-content-contain
		@media(min-width: 768px)
			padding-top: 148px





// #site-navigation .dropdown-menu
// 	@media screen and (min-width: 1200px)
// 		padding-left: 10% !important;
// 		padding-right: 10% !important;
// 	@media screen and (min-width: 1600px)
// 		padding-left: 20% !important;
// 		padding-right: 20% !important;
// 	@media screen and (min-width: 1900px)
// 		padding-left: 25% !important;
// 		padding-right: 25% !important;

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover
	background-color: #0066b1;

#literature
	button[type="submit"]
		@media screen and (min-width: 768px)
			margin-left: 17.5%
	small
		color: #777;
		position: relative;
		top: 4px;
		@media screen and (min-width: 768px)
			margin-left: 17.5%;

#features
	padding-bottom: 40px

.more-news
	margin-top: 70px;
	margin-bottom: 30px;

.dark-intro
	color:#333;


.support-portal-button
	width: auto
	padding: 10px
	border-radius: 10px
	border: solid 1px
	background: white
	margin-top: 10px

.service-portal-div
	@media screen and (min-width: 768px)
		padding-left: 60px;

#slideshow{
	width:100%;
	min-height: 100vh;
	background: rgba(black, 0.8);
}
