
.translate-container
	margin:0 auto 20px 0
	display: block
	@media(min-width:768px)
		max-width: 200px
	@media(max-width:767px)
		text-align: center

#google_translate_element
	.goog-te-gadget, .goog-logo-link
		color:white
		font-weight: normal
	img
		width:auto
	select
		margin-left: 0
		color:#333
