//  header search button 
.search
	&__wrapper 
		display: table;
		width: 100%
		height: inherit;
		display flex 
		justify-content center
		align-items center
		text-align center
	&__container
		width 8%
		display: table-cell;
		height: inherit;
		vertical-align: middle;
		text-align: center;
		font-size: 25px;
		background-color: $grey-light
		color: $blue
		@media screen and (max-width 991px)
			width 9%

@media screen and (max-width 767px)
	.search 
		&__container
			display none