/*
@media screen and (min-width 768px)
	#masthead
		margin-bottom 121px
*/
// 
//
// .tp-revslider-slidesli{
// 	position: relative !important;
// 	padding-top: 100px !important;
// }
//
// .tp-parallax-wrap{
// 	&.container{
// 		position: absolute;
// 		top: 0 !important;
// 	}
// }
