.icon
	&-circle
		width 30px
		height 30px
		line-height 30px
		box-sizing border-box
		text-align center
		border-radius 50%
		display inline-block
		font-size 20px
		
		&.bg-white
			color $brand-primary-darkest
		
	& + &
		margin-left 5px