
/*---------- Marketing dept landing  ----------*/

.no-bottom
	margin-bottom:0 !important

.no-arrow
	margin-top:15px

	h2
		font-weight: 100
		font-size: 29px
		margin-top: 16px
		margin-bottom: 0

.arrow-header
	background: #0e68b0
	color:white
	padding:10px 10px 10px 16px
	position: relative;
	height:95px

	&.first-heading
		margin-top: 21px
		margin-bottom: 20px

	&:before
		content: " ";
		position: absolute;
		right: 0;
		top: 0;
		width: 26px;
		height: 100%;
		background: white;

	&:after
		content: " ";
		position: absolute;
		right: 0px;
		top: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 48px 0 47px 26px;
		border-color: transparent transparent transparent #0e68b0;

	h1
		font-size: 36px;
		color: white;
		font-weight: 800;
		line-height: 1.1;
		margin: 0;

	h2
		font-size: 28px
		font-weight: 100
		color: #fff
		padding-top: 0
		margin-top: 6px

	&.small-blue
		background: #0e68b0
		margin-top: 20px
		height: 60px

		&:after
			border-color: transparent transparent transparent #0e68b0
			border-width: 30px 0 30px 26px;

		h2
			@media(max-width:767px)
				font-size: 21px;
				margin: 0;
				position: relative;
				top: 9px;


	&.arrow-header-yellow
		background: #fedc32
		margin-top: 20px
		height: 60px

		h2
			color: #000
			font-size: 28px
			font-weight: 100

			@media(max-width:767px)
				font-size: 18px
				position: relative
				top: -5px
				max-width: 172px
				line-height: 1.2

		&:after
			border-color: transparent transparent transparent #fedc32;
			border-width: 30px 0 30px 26px;

/*---------- Marketing dept Details / Profile  ----------*/

.col-tn-6
	@media(min-width:480px)
		width:50%

.bmm
	color: #000
	font-size: 28px
	font-weight: 100

	@media(max-width:767px)
		line-height: 1.2;
		margin-top: 16px;

.person-details
	@media(min-width:767px)
		margin-top:15px
	@media(min-width:992px)
		margin-top:25px

	.introducing
		@media(min-width:480px)
			margin-top:65px
			display:block
		@media(min-width:767px)
			margin-top:5px
		@media(min-width:992px)
			margin-top:20px
		@media(min-width:1200px)
			margin-top:35px

	.person-img
		@media(max-width:479px)
			margin-top: 24px;
			display: block;

	.person
		font-weight: 300
		font-size: 30px
		line-height: 1.1
		margin-bottom: 0s

	.details
		font-size: 14px
		margin-top: 12px;

	.section-heading
		color: #0066b2
		margin-top:0
		font-weight: 300
		font-size: 18px

	.product-heading
		font-weight: 300
		font-size: 24px
		color: #333
		a
			color: #333


/*---------- Marketing dept Details / News ----------*/

.marketing-stories-container
	border-top:solid 1px #b3b3b3;
	margin-top: 24px
	padding-top: 24px

	h3
		font-weight:100
		min-height: 77px
		color:#333
		a
			color:#333
