#site-navigation
	min-height 0
	border 0
	margin-bottom 0
	z-index 1050
	transition height 0.3s
	@media screen and (min-width $min-width-xs)
		height 96px
		box-shadow 0 0 15px rgba(0,0,0,0.2)

	& .site-description
		height 26px
		transition 0.3s
		overflow hidden
		opacity 1

	@media screen and (min-width $min-width-xs)
		&.navbar-small
			height 48px
			& .navbar-brand
				transition 0.3s
				padding-top 0 !important
				padding-bottom 0 !important
			& .site-description
				height 0px
				opacity 0
	@media screen and (min-width 768px)
		.dropdown .dropdown-menu
			> li
				display inline-flex
				float left
				width calc(100%/4)

	& .container-fluid
		@media screen and (min-width $min-width-xs)
			display flex
			height 100%
			align-items stretch
			flex-wrap wrap
		@media screen and (max-width 1199px)
			width: 970px
		@media screen and (max-width 991px)
			width 750px
		@media screen and (max-width 768px)
			width 750px
		@media screen and (max-width 767px)
			padding 0
			margin 0
			width 100%
	& .navbar-header
		position relative
		padding-left 0
		padding-right 0
		width 25%
		@media screen and (max-width 767px)
			width 100%
			margin 0
		.logo
			&__holder
				img
					max-width 100%
					width 100%
					height auto

		& .navbar-brand
			padding 10px
			width 50%
			height 100%
			display flex
			align-items center
			@media screen and (min-width $min-width-xs)
				width 100%
				padding 15px
			& img
				// Prevent Animation Jitter
				@media screen and (min-width $min-width-xs)
					width 149px
					height 20px
				@media screen and (min-width $min-width-sm)
					width 246px
					height 33px

			& p.site-description
				color $grey-darkest
				font-size 12px
				line-height 100%
				margin-top 5px
				margin-bottom 0
				@media screen and (max-width 1199px)
					margin 0

	/** TOP LEVEL NAV **/

	& .navbar-collapse
		max-height inherit
		@media screen and (min-width $min-width-xs)
			float none
			width 55%
			padding 0 85px
		@media screen and (max-width 1199px)
			padding 0 55px
		@media screen and (max-width 991px)
			padding 0
			width 59%
		@media screen and (max-width 767px)
			width 100%
			margin 0
			border-top 1px solid $brand-primary-dark
		li a
			padding 0
		& .nav-home
			position relative
			padding 10px
			border-bottom 1px solid $brand-primary
			background-color $brand-primary
			color $white
			text-align center
			z-index $zpos-front
			@media screen and (max-width 767px)
				text-decoration none
				&:hover,
				&:focus
					background-color $brand-primary-dark
		& .navbar-nav
			display: -webkit-box
			display: -moz-box
			display: -ms-flexbox
			display: -webkit-flex
			display flex
			//min-height: 96px
			@media screen and (min-width $min-width-xs)
				width: 100%
				height: 100%
				// height: 100vh;
				float none
			@media screen and (max-width $max-width-sm)
				margin 0
				margin-top -1px
				flex-wrap: wrap

			& > li
				@media screen and (min-width $min-width-xs)
					position static
					display: -webkit-box
					display: -moz-box
					display: -ms-flexbox
					display: -webkit-flex
					display flex
					align-items stretch
					float none
					flex-grow 1

					& + li > a:after
						content ' '
						width 1px
						height 25px
						background-color $grey
						position absolute
						top 50%
						left 0
						transform translateY(-50%)

					& + li
						&:hover,
						&:focus,
						&.open
							& > a:after
								display none

					&:hover,
					&:focus,
					&.open
						& + li
							& > a:after
								display none

				@media screen and (max-width $max-width-sm)
					width 50%
					border-top 1px solid $brand-primary-dark

					&:nth-of-type(2n+2)
						border-left 1px solid $brand-primary-dark

					&.dropdown
						width 100%
						border 0
						& > a
							display none

					&.menu-item-20
						& li
							border-color $grey

							& a
								background-color $grey-dark
								&:hover,
								&:focus
									background-color $grey-darker
				& > a
					@media screen and (min-width $min-width-xs)
						display: -webkit-box
						display: -moz-box
						display: -ms-flexbox
						display: -webkit-flex
						display flex
						align-items center
						flex-grow 1
						justify-content center
						text-transform uppercase
						font-size 18px
						font-weight 300
						color $grey-darkest

						& > .caret
							display none

					@media screen and (max-width $max-width-sm)
						text-align center
						padding 10px
						background-color $brand-primary
						color $white
						text-decoration none

				&:hover > a, &:focus > a, &.open > a
					color $white
					@media screen and (min-width $min-width-xs)
						background-color $brand-primary
						text-decoration underline

					@media screen and (max-width $max-width-sm)
						background-color $brand-primary-dark
	/** 2ND LEVEL NAV **/
	& .open .dropdown-menu
		display flex

	& .dropdown-menu
		padding 0
		border 0
		@media screen and (min-width $min-width-xs)
			position absolute
			left 0
			right 0
			background-color $grey-dark
			justify-content center

		@media screen and (max-width $max-width-sm)
			display flex
			position static
			flex-wrap wrap
			float none
			width auto
			margin 0
			box-shadow none

		& > li
			display flex
			float none
			@media screen and (min-width $min-width-xs)
				width "calc(%s / 4)" % $min-width-md
			@media screen and (max-width $max-width-sm)
				width 50%
				border-top 1px solid $brand-primary-dark

			& + li
				@media screen and (min-width $min-width-xs)
					border-left 1px solid $white

			&:nth-of-type(2n+2)
				@media screen and (max-width $max-width-sm)
					border-left 1px solid $brand-primary-dark

			& > a
				display flex
				flex-grow 1
				justify-content center
				align-items center
				text-align center
				padding 10px
				color $white
				white-space normal
				@media screen and (min-width $min-width-xs)
					text-transform uppercase
					font-size 16px
					font-weight 300

				@media screen and (max-width $max-width-sm)
					background-color $brand-primary

				&:hover, &:focus
					@media screen and (min-width $min-width-xs)
						background-color $grey-darker
						text-decoration underline

					@media screen and (max-width $max-width-sm)
						background-color $brand-primary-dark

	/* NAVBAR TOGGLE */
	& .navbar-toggle
		position absolute
		top 0
		right 0
		background-color $brand-primary
		border-radius 0
		margin 0
		height 100%
		width 20%

		& .icon-bar
			background-color $white
			margin 4px auto
			height 4px


// #site-navigation {
// 	&.navbar-small{
// 		.navbar-collapse .navbar-nav{
// 			transition: height 300ms ease;
// 			@media screen and (min-width 768px){
// 				min-height: 46px;
// 			}
// 		}
// 	}
// }
//
//
div.section-sm {
  padding-top: 20px;
}

.lang_switch_mob {
	display: none;
	float: right;

	.wpml-ls-legacy-dropdown {
		height: 100%;
		width: 65px;
		border: none;
	}
	.wpml-ls-legacy-dropdown ul li a {
		border-left: 1px solid #cdcdcd;
		text-decoration: none;
		min-height: 100%;
		padding: 10px;
		&:hover {
			text-decoration: none;
		}
	}
}

.navbar-small .lang_switch {
    margin: 7px 1px;
	transition: margin 0.3s ease-out;
}

.lang_switch {
	margin: 28px 2px;
	transition: margin 0.3s ease-out;

	.wpml-ls-legacy-dropdown {
		height: 100%;
		width: 65px;
		border: none;
	}
	.wpml-ls-legacy-dropdown ul li a {
		border-left: 1px solid #cdcdcd;
		text-decoration: none;
		min-height: 100%;
		padding: 10px;
		&:hover {
			text-decoration: none;
		}
	}
}


@media screen and (max-width 768px) {
	.lang_switch {
		display: none;	
	}
	.lang_switch_mob {
		display: block;	
		margin-top: 2%;
		margin-right: 20.5%;
	}
}

@media screen and (max-width 490px) {
	.lang_switch_mob {
		margin-top: 1%;
	}
}
