// front-page recent news section
#newsfeed
	p
		margin 0
	.news
		&-title
			color $blue
			&:hover,
			&:focus
				text-decoration none
				color $blue
			h4
				font-size: 15px;
				line-height 20px
				font-weight: 600;
		&-image
			&__container
				img
					height auto
					@media screen and (max-width 767px)
						display block
						margin 0 auto
				& + .news-content
					margin-top 10px
		&-read-more
			& + .news-tags
				margin-top 10px
	.responsive-iframe
		margin-bottom 10px
	.btn--more-news
		margin 10px 0;
	@media screen and (min-width 768px) and (max-width 991px)
		.col-sm-12
			margin-top 10px



// both list and post view
article
	padding-bottom 25px
	border-bottom 1px solid $grey-lighter
	margin-bottom 25px
	&:nth-last-of-type(1)
		border-bottom none
	.entry
		&-summary
			.read-more
				margin-top 15px
		&-meta
			font-size 12px
		&-title
			margin-top 0
			line-height 1.25
			font-weight 800
			color $grey-darkest
			text-transform none
			a
				font-weight 100
				color $grey-darkest
				&:hover,
				&:focus
					text-decoration none

// archive / category-news list view
.title
	&__news
		font-weight 800
		margin 0
.category-news
	&__container
		padding 0
	.news-image__container
		margin-bottom 15px
		img
			display block
			max-height 275px
			width auto
			margin 0 auto
	article
		.entry-title
			font-size 24px

// single post - news section
body.single-post
	.page-header
		margin-top 0
	article
		.entry
			&-title
				font-size: 36px
	.category-news
		.news-image__container
			img
				height auto
				max-height 500px
