.fa
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

/*---------- Product list item  ----------*/

.product-list-item
	padding-bottom: 18px
	border:none !important;

	.hr-div
		display: block
		margin-top:42px

	img
		margin-bottom:30px;
		width:auto;

	small
		font-weight: 300;
		font-size: 50%;

	.h1
		margin-bottom: 14px;
		padding-top: 0px;
		margin-top: 1px;

		a
			text-decoration:none
			color:#333

	h3
		margin-top:10px;
		margin-bottom:30px;
		font-weight:300;

/*----------  List of small products  ----------*/

.product-list-item small
	@media (max-width: 767px)
		display: block;
		margin-top: 4px;

.product-list-item-small
	list-style: none;
	padding: 0 0 23px 0;
	margin: 0 15px 41px 15px;
	border-bottom: solid 1px #b3b3b3;
	display: table;
	width: calc(100% - 30px);

	li
		display: table-cell;
		max-width: 400px;
		vertical-align: bottom;
		padding: 5px 15px 15px 15px;

		a
			text-align: center
			font-size:14px
			font-weight:normal
			span
				display:block
	img
		width:100%
		max-width: 125px;
		display: block;
		margin:0 auto 14px auto;

.product-page-title
	text-align:center
	margin: 37px auto 11px auto

.product-page-sub
	text-align:center
	margin: 0 auto 12px auto
	color: #777

/*----------  Product page banner / header  ----------*/

.product-banner-container
	position:relative
	@media (min-width: 768px)
		margin: -57px 0 0 0

	img
		width:100%

	h1
		display:none
		color: white
		position: absolute;
		text-align: center;
		text-shadow: 5px 5px 10px rgba(0,0,0,0.75);
		width: 100%;
		margin: auto;
		padding: 0 12% 0 12%;
		text-transform:none
		top: 40%;
		font-size: 30px;

		@media (min-width: 768px)
			display: block
			top: 27%

		@media (min-width: 992px)
			top: 30%
			font-size: 36px

		@media (min-width: 1200px)
			top: 36%



	.big-black-buttons
		display:none;
		list-style: none;
		margin: 0;
		position: absolute;
		top: 55%;
		left: 0;
		width: 100%;
		text-align: center;
		padding: 0 8% 0 8%;

		@media (min-width: 768px)
			display: block

		li
			display:inline;
			a
				background-color: rgba(0,0,0,0.4);
				color: inherit;
				margin-top: 20px;
				font-size: 18px;
				font-weight: 300;
				color: #fff;
				padding: 10px;
				transition: 300ms ease;
				text-decoration:none;
				width: 100%;
				display: block;
				text-transform:uppercase

				@media (min-width: 992px)
					font-size: 30px;

				&:hover
					background-color: #fff;
					color: #000;

/*----------  Product Applications  ----------*/

.application-item
	padding-bottom: 38px;
	display: inline-block;

	h2
		font-weight:300;
		font-size:30px;
		margin-top: 3px;

	h4
		font-weight:300;
		font-size:18px;

.product-list-app-header
	margin-top: 18px
	margin-bottom: 31px
	text-align: center
	font-size: 30px

.product-applications
	border-bottom: solid 1px #b3b3b3
	clear: left
	padding-bottom: 32px
	padding-top: 0px
	margin-top: -11px

/*----------  Product blue sub nav  ----------*/

.subnavigation
	display: table;
	width: 100%;
	background-color: #0066b2;
	@media(min-width:768px)
		margin-bottom: 0;

	a
		display: table-cell
		color: #fff
		text-align: center
		vertical-align: middle
		border-right: 1px solid #fff
		font-size: 17px
		font-weight: 300
		transition: background-color 300ms ease;
		width:100%;
		display: block;
		border-bottom:solid 1px white;
		padding:5px;

		@media (min-width: 768px)
			width: 16%
			display:table-cell;
			border:none;
			border-right:solid 1px white;

		&:last-child
			border-right: none !important;

		&:hover
			background-color: #00497f

/*----------  Stories classes  ----------*/

.stories-container
	padding: 94px 0 38px 0px

	iframe
		padding-bottom:10px

	.story
		h3, a
			font-weight:300;
			color:#333
			font-size:24px

		.btn
			color:white;
			font-size:14px;

/*----------  Application classes  ----------*/

.applications-container
	background-color: #e6e6e6;
	margin: 50px 0 0 0;
	padding: 17px 0 25px 0px;

	h3
		font-weight:300

.applications-container, .stories-container, .lit-container, .specs-container, .testimonial-container

	h2
		border-bottom: 1px solid #0066b2;
		font-weight:300;
		font-size:30px

	h3
		font-weight:300
		font-size:24px
		@media (min-width: 768px)
			min-height:58px

/*---------- Lit Container  ----------*/

.lit-container
	background: #e6e6e6;
	padding:15px 0 33px 0;

	label
		@media (min-width: 768px)
			position: relative;
			top:8px;
			text-align: right;

	form
		margin: 10px 0 0 0;
		display: inline-block;
		width: 100%;
		box-sizing: border-box;

		.row
			margin-bottom:15px

	h4
		font-weight:300;

	input[type=checkbox], input[type=radio]
		margin: 4px 0 0 -14px

	.wpcf7-not-valid
		border:solid 1px #a94442

	.wpcf7-not-valid-tip
		display:none !important

	.wpcf7-validation-errors
		margin: 20px 0 5px 0

	.btn
		@media (max-width: 767px)
			margin: 20px 0 5px 0


/*---------- Lit Container  ----------*/

.single-products
	h1
		margin:27px 0 10px 0;
		letter-spacing: -1px;
		small
			font-weight: 300;
			font-size: 50%;
			display:block;
			@media (min-width: 768px)
				display: inline;

/*---------- Orange Popup down  ----------*/

#subnavigation
	width: 100%;
	background-color: #ee661a;
	position: fixed;
	top: 48px;
	z-index: 1;
	overflow:hidden;

	@media (max-width: 767px)
		display: none !important

	h2
		color:white;
		letter-spacing: -1px;
		margin: 0;
		padding: 0;
		padding-bottom: 5px;
		padding-top: 10px;
		small
			color:white
			font-weight: 300;
			font-size: 50%;

	.reverse
		a
			color: white
			padding: 4px 10px;
			border-left: 1px solid rgba(255,255,255,0.2);
			float: left;

			&:last-child
				border-right:solid 1px rgba(255,255,255,0.2)

/*---------- Specs Conatiner  ----------*/

.specs-container
	padding:95px 0 0 0;

	.dims-header
		margin:8px 0 12px 0;

	table
		&.spec-table
			margin:30px 0 0 0;

	.images
		padding-bottom: 15px;

 	.dim-table
		margin-top: 40px;
	img
		width:100%;
		height:auto;

	.specs-image-table
		@media (max-width: 767px)
			td
				display: block
				width:100% !important
				margin-bottom: 30px


/*---------- Testimonial Conatiner  ----------*/

.testimonial-container
	padding:14px 0 0 0;
	background-color: #e6e6e6;

	.dims-header
		margin:8px 0 12px 0;

	table
		&.spec-table
			margin:10px 0 0 0;

	.images
		padding-bottom: 15px;

	img
		width:100%;
		height:auto;

	.specs-image-table
		@media (max-width: 767px)
			td
				display: block
				width:100% !important
				margin-bottom: 30px

/*---------- Product footer links  ----------*/

#footer2
	ul
		padding:0;
		margin:0;
		list-style:none;
		li
			&:first-child
				font-weight: bold;
				margin: 11px 0 11px 0;

/*---------- Product customers  ----------*/

.product-customers-container
	h3
		margin-bottom: 38px
		font-size: 30px
		font-weight: bold
		margin-top: 70px

.product-customers
	margin-top: 29px;
	@media (max-width: 767px)
		border-bottom: solid 1px #b3b3b3

	h3
		margin-bottom: 38px;
		font-size: 36px;
		font-weight: bold;

	img
		width: 100%;
		height: auto;
		-webkit-border-radius: 100%;
		border-radius: 100%;
		margin-bottom: 8px;
		@media (max-width: 767px)
			margin-bottom: 30px

	.info
		min-height:120px;

/*---------- Product customers  ----------*/

.testimonial-slider
	position: relative

	.slick-arrow
		display:none;
		@media (min-width: 768px)
			display:block;

		position: absolute;
		top: 89px;
		z-index: 800
		font-size: 0
		border:none;
		background: transparent;
		&:before
			@extend .fa
			font-size: 34px

	.slick-next
		right:22px;
		&:before
			content: "\f105"

	.slick-prev
		left:22px;
		&:before
			content: "\f104"

.product-testimonial
	border-bottom: 1px solid #b3b3b3
	padding-top: 66px
	padding-bottom: 87px

	*
		outline:none !important;

	h3
		margin-bottom: 38px;
		font-size: 36px;
		font-weight: bold;

	.testimonial-padding
		@media (min-width: 768px)
			padding: 0 17% 0 17%

		.by
			font-size: 12px
			font-style: normal
			font-weight: 400
			position: relative

			&:after
				content: " "
				position: absolute
				bottom:-28px
				left:50%
				width:100px
				height:10px
				position:absolute
				border-bottom:solid 1px grey
				margin-left: -50px

		.testimonial-content
			position: relative

			&:before
				display:none;
				@media (min-width: 768px)
					display:block;
				content: " "
				position: absolute;
				top:0
				left:-73px;
				width:73px;
				height:56px;
				background: transparent url(/assets/img/quote-left.png) scroll 0 0 no-repeat;

			&:after
				display:none;
				@media (min-width: 768px)
					display:block;
				content: " "
				position: absolute;
				bottom:0
				right:-73px;
				width:73px;
				height:56px;
				background: transparent url(/assets/img/quote-right.png) scroll 0 0 no-repeat;

	blockquote
		border:none;
		text-align: center;
		position: relative;

		.testimonal
			font-size: 22px
			font-weight: 300
			color: #0066b2
			margin-bottom: 25px
			line-height: 1.3
			@media(min-width:768px)
				font-size: 36px
				line-height: 1.1

		.info
			font-weight: 300

.ajax-video-header
	@media (min-width: 768px)
		min-height:58px


.homepage-testimonials
	.product-testimonial
		border:none !important;
		padding-bottom: 91px;

#newsfeed
	&.widget-section
		padding-bottom: 22px;

/*
.google-maps
	position: relative
	padding-bottom: 75%
	height: 0
	overflow: hidden
*/

/*
.google-maps iframe
	position: absolute
	top: 0
	left: 0
	width: 100% !important
	height: 100% !important
*/

.related-videos
	h3
		color:#333;
		a
			color:#333;

.specs-info-table
	margin-top:40px
	@media (min-width: 1200px)
		margin-top:0

#features
	img
		width: auto !important;
