
/*----------  Search form ----------*/

#search
	background-color: #0066b2
	color: #fff

	.container
		padding-top: 35px;
		padding-bottom: 40px;

	input[type=text]
		width: 100%
		background-color: #0066b2
		color: #fff
		border: none
		border-bottom: 1px solid #fff
		font-size: 34px
		font-weight: 300
		outline:none !important;

	input[type=submit]
		display: inline-block
		margin-bottom: 0
		font-weight: normal
		text-align: center
		vertical-align: middle
		-ms-touch-action: manipulation
		touch-action: manipulation
		cursor: pointer
		background-image: none
		border: 1px solid transparent
		white-space: nowrap
		padding: 6px 12px
		font-size: 14px
		line-height: 1.42857143
		border-radius: 4px
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
		border-color: #0066b2
		font-size: 18px
		font-weight: 300
		color: #fff
		background-color: #0066b2

	input[type=submit]
		width: 100%
		border-color: #fff

#masthead
	z-index: 999;
	&.fixed-top
		position: fixed;
		top: 0;
		width: 100%;

.padd-top-div
	padding: 0 0 10px 0
	@media(min-width: 768px)
		padding: 0 0 89px 0

.search-result
	border: none
	border: none
	padding: 0 15px 0 15px
	margin: 1px 0 0 0

.results-found
	color: #777

.search__wrapper
	a
		display: block;
		width: 100%;
		height: 100%;
		text-decoration: none !important;

		.fa
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			display: block;
			text-decoration: none !important;

			&.fa-search
				margin-top: -3px;

/*----------  Search Pagination ----------*/

.search-pagination-container
	margin: 20px 0;
	border-radius: 4px;

	a, .page-numbers, .current
		position: relative
		float: left
		padding: 6px 12px
		line-height: 1.42857143
		text-decoration: none
		color: #337ab7
		background-color: #fff
		border: 1px solid #ddd
		margin-left: -1px

		&:hover
			z-index: 3;
			color: #23527c;
			background-color: #eee;
			border-color: #ddd;

	.current
		z-index: 2;
		color: #fff;
		background-color: #337ab7;
		border-color: #337ab7;
		cursor: default;

		&:hover
			z-index: 2;
			color: #fff;
			background-color: #337ab7;
			border-color: #337ab7;
			cursor: default;
