.site-footer-section
	display block
	padding-top 15px
	padding-bottom 15px

	#footer1&
		min-height 60px

		& img
			width:232px;
			height 30px;


	#footer2&
		min-height 231px

	#footer3&
		min-height 191px

@media screen and (max-width 767px)
	#footer3
		&.site-footer-section
			min-height auto
