
.rev_slider
	width:100% !important

	> ul
		width:100% !important;

	.tp-bgimg
		width:100% !important;
		background-size: cover !important;


.slotholder
	width:100% !important

.slider-text-div
	width: 100%;
	margin: 0 0 0 -15px;
	z-index: 1;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 15px 0 15px;

	@media(min-width:768px)
		max-width: 50%

	@media(min-width:992px)
		max-width: 50%

	@media(min-width:1200px)
		max-width: 40%

	h1
		font-size: 21px
		line-height: 1.1
		@media(min-width:992px)
			font-size: 29px;
			line-height: 1.3;


.slider-black-bottom
	background: #000;
	background: rgba(0,0,0,0.7);
	color: #fff;
	margin: 13px 0 10px 0px;
	z-index: 1;
	position: relative;
	padding: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-size: 14px;
	line-height: 1.1;
	font-weight: normal;
	@media(min-width:992px)
		font-size: 16px;
		line-height: 1.3;
		max-width: 75%
