//  revolution slideshow
//	homepage carousel

/*
body.home
	#slideshow
		margin-top 96px // clear fixed navbar
		@media screen and (max-width 768px)
			margin-top 0
*/

body.home,
.rev_slider
	h1
		text-transform initial !important
		text-shadow 5px 5px 10px rgba(0,0,0,0.65)
