

/*----------  Support Page ----------*/


.table.table-dark>thead>tr>th, .table.table-dark>tbody>tr>th, .table.table-dark>tfoot>tr>th, .table.table-darkthead>tr>td, .table.table-dark>tbody>tr>td, .table.table-dark>tfoot>tr>td {
  border-top: 1px solid #333;
}

.support-page

	.page-title
		font-size: 36px
		margin:20px 0 10px 0

	.body-copy
		margin-bottom: 10px

		h2
			font-weight: 100
			font-size: 30px
			margin: 20px 0 10px 0

	.support-options
		background-color: #e6e6e6;
		padding: 10px 0 50px 0;
		margin: 5px auto 0 auto;

		@media(min-width:768px)
			padding: 45px 0 50px 0;
			margin: 50px auto 0 auto

		h2
			font-weight: 100
			font-size: 30px
			margin: 20px 0 10px 0

			@media(max-width:767px)
				float:left

	.support-stages
		padding: 38px 0 0 0
		margin: 0px auto 0 auto

		h3
			font-size: 24px
			font-weight: 800
			line-height: 1.1

		h4
			font-size: 24px
			font-weight: 300
			display: block;
			border-bottom: 1px solid #0066b2

		hr
	    margin-top: 50px


	.support-trust
		padding:0
		@media(min-width:992px)
			padding: 38px 0 0 0
		margin: 0px auto 0 auto

		hr
			margin-bottom:0

		h2, h3
			font-weight: 300

/*----------  Support -> Trust ----------*/

.support_news_items
  border-top: 1px solid #b3b3b3
  margin-top: 18px
  padding-top: 4px

.tag-row
  padding-top:10px

.trust-item

  h3
    font-weight: 300
    font-size: 24px
    min-height: 85px

  .trust-title-img
    max-width: 206px;
    display: block;
    margin: 12px auto 12px auto;

  .trust-section-img
    max-width: 223px
    display: block
    margin: 12px auto 12px auto

.trust-content
  table
    margin-top: 20px

.trust-video
  @media (max-width 767px)
    iframe
      width:100%
  @media (min-width 768px)
    margin-top: 55px;


.support-trust-image
  @media (max-width 767px)
    display: block
    margin: 20px auto 40px auto
    max-width: 280px 
