body
	font-family "aktiv-grotesk", sans-serif
	&.home
		h1, .h1, h2, .h2
			text-transform uppercase

h1, .h1, h2, .h2
	text-transform capitalize
	font-weight 800
	margin-top 5px
	margin-bottom 10px

h1
	&.title__news
		text-transform capitalize
		margin 0
		padding 0

h1, .h1, h2, .h2, h3, .h3
	margin-top: 20px;
	margin-bottom: 10px;

h3
	font-size: 24px;

hr
	margin-top 20px
	margin-bottom 20px
	border 0
	border-top 1px solid $grey-lighter

.bold
	font-weight bold

h1.light, h2.light, h3.light, h4.light, h5.light, h6.light,
.h1.light, .h2.light, .h3.light, .h4.light, .h5.light, .h6.light
	font-weight: 300

h1.flush, h2.flush, h3.flush, h4.flush, h5.flush, h6.flush, .h1.flush, .h2.flush, .h3.flush, .h4.flush, .h5.flush, .h6.flush
	margin-top: 0

h2, .h2
	font-size: 30px

h1.u, h2.u, h3.u, h4.u, h5.u, h6.u, .h1.u, .h2.u, .h3.u, .h4.u, .h5.u, .h6.u
	display: block
	border-bottom: 1px solid #0066b2


.f36{
	font-size: 36px;
}
