.violator
	position fixed
	padding 7px 10px
	z-index $zpos-fixed-front
	background-color $orange
	transition 0.25s background-color ease-out
	color $white
	display none
	cursor pointer
	&:hover,
	&:focus
		background-color $orange-dark
	&-left,
	&-right
		top 50%
		transform translateY(-50%)
	
	&-left
		left 0
		
	&-right
		right 0
		
	&-top,
	&-bottom
		left 50%
		transform translateX(-50%)
		
	&-top
		top 0
		
	&-bottom
		bottom 0
		