.widget
	&-section
		display block

		#solutions&
			min-height 545px

		// #newsfeed&
		// 	min-height 825px

		#quotes&
			min-height 580px

	&-heading
		text-align center
		padding-top 35px
		margin-top 0

		& hr
			max-width 100px
			margin-bottom 50px
	&-title
		margin-top 0
		font-weight 100

.recent-posts
	.responsive-iframe
		margin-bottom 10px
	h4
		font-weight 300
	a
		color $grey-darkest
		&:hover,
		&:focus
			text-decoration none
	&--post
		margin-top 25px
		&:nth-of-type(1)
			margin-top 0

	.read-more
		a
			color $white





#newsfeed .btn--more-news {
	margin: 46px 0 6px 0;
}
